@viewport { 
    width: device-width;
}
:root{
    --standard-white-color: #ffffff;
    --text-color: #434455;
    --title-text-color: #2E2F42;
    --subtle-dark-color: #8E8F99;
    --active-color:  skyblue;
    --accent-color: #E7E9FC;
    --light-white-color: #F4F4FD;
    --second-active-color: lightskyblue;
    --card-set-gap: 20px;
    --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --backdrop-color: rgba(46, 47, 66, 0.4);
    --modal-color:  #FCFCFC;
    --modal-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --animation-duration: 250ms;
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
    }
@media  screen and (min-width: 768px) and (max-width:1199px){
    .container{
        width: 768px;
    }
    
    .container-header{
        width: 768px;
        position: relative;
    }
    .container-footer{
        width: 768px;
        justify-content: initial;
    }
    .header{
        padding-bottom: 19px;
    }
    .logo{
        display: initial;
    }
    nav{
        display: initial;
    }
    .nav-list, .contacts{
        display: initial;
    }
    .nav-link{
        font-weight: 500;
        line-height: 1.5;
        font-size: 16px;
    }
    .logo-img{
        top: -12px
     }
    .contacts li:not(:last-child){
        margin-right: 0;
    }
    .contacts{
        position: absolute;
        top: 0px;
        right: 16px;
    }
    .contacts-link{
        font-size: 12px;
    }
    .menu-open{
        display: none;
    }
    .mob-menu{
        display: none;
    }
    .banner{
        /* max-width: 768px; */
        max-height: 436px;
    }
    .banner{
        padding-bottom: 108px;
    }
    .banner-logo{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
    }
    .activities {
      
        display: flex;
        /* max-width: 768px; */
        margin-right: auto;
        margin-left: auto;
    }
    .target{
        
        margin-left: auto;
        margin-right: auto;
    }
    .target-list{
        display: flex;
        
    }
    .target-list li:not(:last-child){
        margin-right: 24px;
    }
    .activities-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
        justify-content: center;
    }
    .activities-list li{
        margin: 0;
    }
    .activities-list img {
        max-width: 357px;
        height: 357px;
      }
    .requirements{
        padding-bottom: 105px;
        margin-left: auto;
        margin-right: auto;
       
    }
    .requirements-list{
        padding-bottom: 0;
        gap: 24px;
        row-gap: 64px;
    }
    .card-content{
        height: 830px;
        justify-content: initial;
    }
    .requirements-text{
        margin-bottom: 0;
    }
    .requirements-list > .requirements-member{
       margin: 0;
    }
    .requirements-member{
        width:  calc((100% - 24px) / 2);
    }
    .news{
        margin-left: auto;
        margin-right: auto;
    }
    .news-img{
        max-width: 500px ;
    }
    .disposition{
        margin-left: auto;
        margin-right: auto;
    }
    .footer{
     
        margin-right: auto;
        margin-left: auto;
    }
    .footer-content{
        margin-left: 108px;
    }
    .footer-logo{
        text-align: initial;
    }
    .footer-socials{
        margin: 0;
        margin-left: 24px;
    }
}